tbody tr:hover {
    background:rgba(0,0,0,1);
    color: #FFF;
}
tbody tr:hover a {
    color: #FFF;   
}

td.datetime {
    border-right: 5px solid rgba(0,0,0,0.8);
}

tr.past {
    opacity: 0.4;
}
td {
    width: 25%;
}

time {
    display: none;
}

.description span {
    display: block;
}

@media only screen and (max-width : 414px) {
    .description {
        display: none;
    }
}

@media only screen and (max-width : 375px) {
    .location {
        display: none;
    }
}
    