
td.datetime {
    border-right: 5px solid rgba(255,255,255,0.8);
}

tr.past {
    opacity: 0.4;
}
td {
    width: 25%;
    position: relative;
}

time.dtstart {
    display: none;
}

time.dtend {
    position: absolute;
    display: inline-block;
    text-indent: -999em;
}
.description span {
    display: block;
}

@media only screen and (max-width : 414px) {
    .description {
        display: none;
    }
}

@media only screen and (max-width : 375px) {
    .location {
        display: none;
    }
}
    